
Frontend/XML_Editor/XML_Editor.pro.user
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/XML_Editor.exe
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_predefs.h
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/mainwindow.o
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/main.o
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/.qmake.stash
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/ui_mainwindow.h
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_syntaxhighlighter.cpp
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_syntaxhighlighter.o
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/syntaxhighlighter.o
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersloayel~1appdatalocaltemptmpndp751
Frontend/build-XML_Editor-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersloayel~1appdatalocaltemptmpqvm2lf
Core/a.out
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
